{% extends "_layout" %}
{% set posts = craft.entries.section('agency').all() %}


{% block content %}

<section class="work-all">
  <div class="fixed-container center grid mt4">
    {% for post in posts %}

      <div class="span-2">
        {% if post.thumbnail | length %}
          {% set thumbnail = post.thumbnail.one() %}
          <a class="no-underline" href="{{ post.url }}">
            <img class="thumbnail thumb-campaigns" src="{{thumbnail.url}}"/>
          </a>
          {% endif %}

          <a class="no-underline" href="{{ post.url }}">
            <h3 class="ma0 mt2">{{post.client}}{% if post.client %}: {% endif %}{{ post.title|truncate(60) }}</h3>
          </a>
          {% if post.role %}<h4 class="ma0 gray mt2">{{ post.role.one() }}</h4>  {% endif %}

        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
