{% extends "_layout" %}

{% block title %}
  {{ parent() }} | Editorial
{% endblock %}

{% set posts = craft.entries.section('editorial').orderBy('date desc').all() %}


{% block content %}
  <div class="fixed-container center mb4">
    <div class="table">

    {% for post in posts %}

      {% set thumbnail = post.thumbnail.one() %}
      <div class="row green">

        <div class="image-hold" {% if thumbnail | length %} style="background-image: url('{{ thumbnail.url }}');"{% endif %}></div>
        <a target="_blank" {% if post.externalLink %} href="{{ post.externalLink }}" {% endif %} class="title no-underline">{{ post.title | truncate(95) }}</a>
        <p class="publication tl tr-l">{{ post.client }}</p>
        <p class="date tl tr-l">{{ post.date | date('M d, Y') }}</p>
      </div>

    {% endfor %}

    </div>
  </div>
{% endblock %}
